*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 226, 226);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
nav input{
    padding: 1rem;
    border-radius: 20px 0 0 20px;
    font-size: larger;
}
nav span button{
    padding: 1rem;
    font-size: larger;
    background-color: rgb(241, 112, 112);
    border-radius: 0px 20px 20px 0;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.data h1,div{
    margin: 2rem 0;
}